<div class="pre-loader">
  <div class="load-con">
    <img src="../../assets/img/robot.png" class="animated fadeInDown" alt="">
    <div class="spinner">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
  </div>
</div>

<header>

  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="fa fa-bars fa-lg"></span>
        </button>
        <a class="navbar-brand">
          <img src="../../assets/img/billy.png" alt="" class="logo" style="max-width: 150px;">
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        <ul class="nav navbar-nav navbar-right">
          <li><a href="#screens">our project </a>
          </li>
          <li><a href="/simulateur">test me </a>
          </li>
          <li><a href="#billy">how to Billy ? </a>
          </li>
          <li><a href="#features">Billy's Advantage</a>
          </li>
          <!--<li><a href="#reviews">reviews</a>
          </li>
          <li><a href="#screens">screens</a>
          </li>
          <li><a href="#demo">demo</a>
          </li>--->
          <li><a href="#about">about</a>
          </li>
          <li><a href="#support">contact</a>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-->
  </nav>


  <!--RevSlider-->
  <div class="tp-banner-container">
    <div class="tp-banner" >
      <ul>
        <!-- SLIDE  -->
        <li data-transition="fade" data-slotamount="7" data-masterspeed="1500" >
          <!-- MAIN IMAGE -->
          <img src="../../assets/img/transparent.png"  alt="slidebg1"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
          <!-- LAYERS -->
          <!-- LAYER NR. 1 -->
          <div class="tp-caption lfl fadeout hidden-xs"
               data-x="left"
               data-y="bottom"
               data-hoffset="30"
               data-voffset="0"
               data-speed="500"
               data-start="700"
               data-easing="Power4.easeOut">
            <!--<img src="../../assets/img/freeze/Slides/hand-freeze.png" alt="">--->
          </div>

          <div class="tp-caption lfl fadeout visible-xs"
               data-x="left"
               data-y="center"
               data-hoffset="700"
               data-voffset="0"
               data-speed="500"
               data-start="700"
               data-easing="Power4.easeOut">
            <img src="../../assets/img/freeze/iphone-freeze.png" alt="">
          </div>

          <div class="tp-caption large_white_bold sft" data-x="550" data-y="center" data-hoffset="0" data-voffset="-80" data-speed="500" data-start="1200" data-easing="Power4.easeOut">
            The Fair Billy
          </div>
          <div class="tp-caption large_white_light sfr" data-x="770" data-y="center" data-hoffset="0" data-voffset="-80" data-speed="500" data-start="1400" data-easing="Power4.easeOut">

          </div>
          <div class="tp-caption small_light_white sfb" data-x="550" data-y="center" data-hoffset="0" data-voffset="0" data-speed="1000" data-start="1500" data-easing="Power4.easeOut">
            Business Ingelligence for Ecology
          </div>

          <div class="tp-caption sfb hidden-xs" data-x="550" data-y="center" data-hoffset="0" data-voffset="85" data-speed="1000" data-start="1700" data-easing="Power4.easeOut">
            <a href="#features" class="btn btn-primary inverse btn-lg">Start </a>
          </div>
          <!--<div class="tp-caption sfr hidden-xs" data-x="730" data-y="center" data-hoffset="0" data-voffset="85" data-speed="1500" data-start="1900" data-easing="Power4.easeOut">
              <a href="#getApp" class="btn btn-default btn-lg">....</a>
          </div>--->

        </li>
        <!-- SLIDE 2 -->
        <li data-transition="zoomout" data-slotamount="7" data-masterspeed="1000" >
          <!-- MAIN IMAGE -->
          <img src="../../assets/img/transparent.png"  alt="slidebg1"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
          <!-- LAYERS -->
          <!-- LAYER NR. 1 -->
          <div class="tp-caption lfb fadeout hidden-xs"
               data-x="center"
               data-y="bottom"
               data-hoffset="0"
               data-voffset="0"
               data-speed="1000"
               data-start="700"
               data-easing="Power4.easeOut">
            <img src="../../assets/img/eco.png" alt="" style="width: 900px; height:450px">
          </div>


          <div class="tp-caption large_white_light sft" data-x="center" data-y="250" data-hoffset="0" data-voffset="0" data-speed="1000" data-start="1400" data-easing="Power4.easeOut">
            Be Ecologic <i class="fa fa-heart"></i>
          </div>


        </li>

        <!-- SLIDE 3 -->
        <li data-transition="zoomout" data-slotamount="7" data-masterspeed="1000" >
          <!-- MAIN IMAGE -->
          <img src="../../assets/img/transparent.png"  alt="slidebg1"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
          <!-- LAYERS -->
          <!-- LAYER NR. 1 -->
          <div class="tp-caption customin customout hidden-xs"
               data-x="right"
               data-y="center"
               data-hoffset="0"
               data-customin="x:50;y:150;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
               data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
               data-voffset="50"
               data-speed="1000"
               data-start="700"
               data-easing="Power4.easeOut">
            <!--<img src="../../assets/img/robot.png" alt="">--->
          </div>

          <div class="tp-caption customin customout visible-xs"
               data-x="center"
               data-y="center"
               data-hoffset="0"
               data-customin="x:50;y:150;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
               data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
               data-voffset="0"
               data-speed="1000"
               data-start="700"
               data-easing="Power4.easeOut">
            <img src="../../assets/img/freeze/Slides/family-freeze.png" alt="">
          </div>

          <div class="tp-caption lfb visible-xs" data-x="center" data-y="center" data-hoffset="0" data-voffset="400" data-speed="1000" data-start="1200" data-easing="Power4.easeOut">
            <a href="#" class="btn btn-primary inverse btn-lg">Purchase</a>
          </div>


          <div class="tp-caption mediumlarge_light_white sfl hidden-xs" data-x="left" data-y="center" data-hoffset="0" data-voffset="-50" data-speed="1000" data-start="1000" data-easing="Power4.easeOut">
            Powerful Artificial Intelligence
          </div>
          <div class="tp-caption mediumlarge_light_white sft hidden-xs" data-x="left" data-y="center" data-hoffset="0" data-voffset="0" data-speed="1000" data-start="1200" data-easing="Power4.easeOut">
            A new vision of the business
          </div>
          <div class="tp-caption small_light_white sfb hidden-xs" data-x="left" data-y="center" data-hoffset="0" data-voffset="80" data-speed="1000" data-start="1600" data-easing="Power4.easeOut">
            <p>Une Intelligence Artificielle doté d'un sens éco-responsable. <br> Un compagnon qui vous conseillera et guidera toute l'entreprise. <br>ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
          </div>

          <div class="tp-caption lfl hidden-xs" data-x="left" data-y="center" data-hoffset="0" data-voffset="160" data-speed="1000" data-start="1800" data-easing="Power4.easeOut">
            <a href="#" class="btn btn-primary inverse btn-lg">Find out more</a>
          </div>


        </li>

      </ul>
    </div>
  </div>


</header>


<div class="wrapper">
  <section id="screens">
    <div class="container">

      <div class="section-heading scrollpoint sp-effect3">
        <h1>Our Project</h1>
        <div class="divider"></div>
        <p>What is it? </p>
      </div>

      <!---<div class="filter scrollpoint sp-effect3">
          <a href="javascript:void(0)" class="button js-filter-all active">Ecology</a>
          <a href="javascript:void(0)" class="button js-filter-one">Economy</a>
          <a href="javascript:void(0)" class="button js-filter-two">Social </a>
          <a href="javascript:void(0)" class="button js-filter-three">Responsability</a>
      </div>--->
      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-4">
          <div class="about-item scrollpoint sp-effect2">
            <img src="../../assets/img/Steps/etape1.png" class="img-responsive">
            <h3>Step 1</h3>
            <p>Graping the consumption data of company (like water, energy, goods ...)</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4" >
          <div class="about-item scrollpoint sp-effect3">
            <img src="../../assets/img/Steps/etape2.png" class="img-responsive">
            <h3>Step 2</h3>
            <p>Billy interbreeds your data with those of an eco-labeled company that corresponds to characteristics similar to yours</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4" >
          <div class="about-item scrollpoint sp-effect5">
            <img src="../../assets/img/Steps/etape3.png" class="img-responsive">
            <h3>Step 3</h3>
            <p>Billy provides you with a graphic account of your ecological footprint and gives you recommendations to become eco-responsible. It even tells you the amount you'll save!
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="getApp">
    <div class="container-fluid">
      <div class="section-heading inverse scrollpoint sp-effect3">
        <h1>Get Billy</h1>
        <div class="divider"></div>
        <a routerLink="/simulateur" class="btn btn-orange inverse btn-lg ">Test Free</a>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="hanging-phone scrollpoint sp-effect2 hidden-xs">
            <img src="../../assets/img/robot.png" alt="" style="max-width: 480px;">
          </div>

        </div>
      </div>
    </div>
  </section>

  <!--<section id="reviews">
    <div class="container">
      <div class="section-heading inverse scrollpoint sp-effect3">
        <h1>Test Billy</h1>
        <div class="divider"></div>
      </div>
        <app-simulator></app-simulator>
    </div>
  </section>--->

  <section id="features">
    <div class="container">
      <div class="section-heading scrollpoint sp-effect3">
        <h1>Advantages</h1>
        <div class="divider"></div>

      </div>
      <div class="row">
        <div class="col-md-4 col-sm-4 scrollpoint sp-effect1">
          <div class="media text-right feature">
            <a class="pull-right" href="#">
              <i class="fa fa-leaf fa-2x"></i>
            </a>
            <div class="media-body">

              <h3 class="media-heading">Environmental compliance</h3>


            </div>
          </div>
          <div class="media text-right feature">
            <a class="pull-right" href="#">
              <i class="fa fa-compress fa-2x"></i>
            </a>
            <div class="media-body">

              <h3 class="media-heading">Gain value versus your competitors</h3>


            </div>
          </div>
          <div class="media text-right feature">
            <a class="pull-right" href="#">
              <i class="fa fa-heart fa-2x"></i>
            </a>
            <div class="media-body">

              <h3 class="media-heading">Better brand image</h3>

            </div>
          </div>
          <div class="media text-right feature">
            <a class="pull-right" href="#">
              <i class="fa fa-check fa-2x"></i>
            </a>
            <div class="media-body">

              <h3 class="media-heading">Obtain labels and follow the standard</h3>


            </div>
          </div>
          <div class="media text-right feature">
            <a class="pull-right" href="#">
              <i class="fa fa-bolt fa-2x"></i>
            </a>
            <div class="media-body">

              <h3 class="media-heading">Reduce your energetic cost</h3>


            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4" >
          <img src="../../assets/img/billy.png" class="img-responsive scrollpoint sp-effect5" alt="">
        </div>
        <div class="col-md-4 col-sm-4 scrollpoint sp-effect2">
          <div class="media feature">
            <a class="pull-left" href="#">
              <i class="fa fa-bullseye fa-2x"></i>
            </a>
            <div class="media-body">

              <h3 class="media-heading">Enhance your productivity</h3>


            </div>
          </div>
          <div class="media feature">
            <a class="pull-left" href="#">
              <i class="fa fa-gavel fa-2x"></i>
            </a>
            <div class="media-body">

              <h3 class="media-heading">Respect the law and normalisation</h3>


            </div>
          </div>
          <div class="media feature">
            <a class="pull-left" href="#">
              <i class="fa fa-gavel fa-2x"></i>
            </a>
            <div class="media-body">
              <h3 class="media-heading">HealthCare</h3>


            </div>
          </div>
          <div class="media feature">
            <a class="pull-left" href="#">
              <i class="fa fa-lightbulb-o fa-2x"></i>
            </a>
            <div class="media-body">

              <h3 class="media-heading">More innovation in your company</h3>


            </div>
          </div>
          <div class="media active feature">
            <a class="pull-left" href="#">
              <i class="fa fa-plus fa-2x"></i>
            </a>
            <div class="media-body">
              <h3 class="media-heading">And much more!</h3>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>




  <section id="demo">
    <div class="container">
      <div class="section-heading scrollpoint sp-effect3">
        <h1>How to Billy ? </h1>
        <div class="divider"></div>
        <p>Command your Billy</p>
        <section class="section">


          <div class="row-fluid">
            <div class="pricing-table row-fluid text-center">
              <div class="col-md-6">
                <div class="plan">
                  <div class="plan-name">
                    <h2>Basic</h2>
                    <p class="muted">For medium company</p>
                  </div>
                  <div class="plan-price">
                    <b>Free</b>
                  </div>
                  <div class="plan-details">
                    <div>
                      Access to our<b> simulator</b>
                    </div>
                    <div>
                      Estimmation of your<b> carbonic impact</b>
                    </div>
                    <div>
                      Advise<b> to improve yourself</b>
                    </div>
                  </div>
                  <div class="plan-action">
                    <a href="/simulateur" class="btn btn-block btn-large">Acces our simulator</a>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="plan prefered">
                  <div class="plan-name">
                    <h2>Premium</h2>
                    <p class="muted">For international company</p>
                  </div>
                  <div class="plan-price">
                    <b>On demand</b>
                  </div>
                  <div class="plan-details">
                    <div>
                    Specific audit  <b>for the company</b>
                    </div>
                    <div>
                     Customized<b> solution</b>
                    </div>
                    <div>
                      <b>High AI</b> configuration
                    </div>
                  </div>
                  <div class="plan-action">
                    <a href="#" class="btn btn-success btn-block btn-large">Contact us</a>
                  </div>
                </div>
              </div>


            </div>
            </div>
        </section>
      </div>
    </div>
  </section>




  <section id="about">
    <div class="container">

      <div class="section-heading scrollpoint sp-effect3">
        <h1>About Us</h1>
        <div class="divider"></div>
        <p>Our team</p>
      </div>

      <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-6">
          <div class="about-item scrollpoint sp-effect2">
            <img src="../../assets/img/team/2.png" class="img-responsive">
            <h3>Developper</h3>

          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6" >
          <div class="about-item scrollpoint sp-effect5">
            <img src="../../assets/img/team/3.png" class="img-responsive">
            <h3>Developper</h3>

          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6" >
          <div class="about-item scrollpoint sp-effect5">
            <img src="../../assets/img/team/4.png" class="img-responsive">
            <h3>Developper</h3>

          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6" >
          <div class="about-item scrollpoint sp-effect1">
            <img src="../../assets/img/team/5.png" class="img-responsive">
            <h3>Responsible for customer</h3>

          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="support" class="doublediagonal">
    <div class="container">
      <div class="section-heading scrollpoint sp-effect3">
        <h1>Contact Us</h1>
        <div class="divider"></div>
        <p>For more info and support, contact us!</p>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-8 col-sm-8 scrollpoint sp-effect1">
              <form role="form">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Your name">
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" placeholder="Your email">
                </div>
                <div class="form-group">
                  <textarea cols="30" rows="10" class="form-control" placeholder="Your message"></textarea>
                </div>
                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
              </form>
            </div>
            <div class="col-md-4 col-sm-4 contact-details scrollpoint sp-effect2">
              <div class="media">
                <a class="pull-left" href="#" >
                  <i class="fa fa-map-marker fa-2x"></i>
                </a>
                <div class="media-body">
                  <h4 class="media-heading">27, Rue Raoul Servant, Lyon, FRANCE</h4>
                </div>
              </div>
              <div class="media">
                <a class="pull-left" href="#" >
                  <i class="fa fa-envelope fa-2x"></i>
                </a>
                <div class="media-body">
                  <h4 class="media-heading">
                    <a href="mailto:support@oleose.com">support@fairbilly.com</a>
                  </h4>
                </div>
              </div>
              <div class="media">
                <a class="pull-left" href="#" >
                  <i class="fa fa-phone fa-2x"></i>
                </a>
                <div class="media-body">
                  <h4 class="media-heading">+33 00000000</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer>

      <a href="#" class="scrollpoint sp-effect3">
        <img src="../../assets/img/billy.png" alt="" class="logo" style="max-width: 150px;">
      </a>

      <div class="rights" >
        <p>Copyright &copy; 2014</p>
        <p>Template by <a href="http://www.scoopthemes.com" target="_blank">ScoopThemes</a></p>
      </div>

  </footer>



</div>


