<app-preloader></app-preloader>

<header>
  <footer class="navback">
    <app-menu></app-menu>
  </footer>

</header>


<div class="wrapper">

  <section id="reviews" style="margin-top: -5%;">

      <div class="section-heading inverse scrollpoint sp-effect3">
        <h1 style="color: #696969;">Test Billy</h1>
        <div class="divider"></div>
        <p style="color: #696969;">Questions about your company</p>
      </div>
      <div class="row" >


        <app-simulator></app-simulator>




      </div>

  </section>

</div>



  <footer style="margin-bottom: -90px;">

      <div class="rights">
        <p>Copyright &copy; 2014</p>
        <p>Template by <a href="http://www.scoopthemes.com" target="_blank">ScoopThemes</a></p>
      </div>

  </footer>
